<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <table>
        <tr>
            <th>제목</th>
            <td>[[ ${article.title} ]]</td>
        </tr>
        <tr>
            <th>내용</th>
            <td>[[ ${article.content} ]]</td>
        </tr>
    </table>
    <form th:action="@{ '/delete/' + ${article.id} }" th:method="DELETE">
        <button>삭제</button>
    </form>
    <a th:href="@{ '/modify/' + ${article.id} }">
        수정
    </a>
    
    <a href="/list">목록으로</a>
</body>
</html>