.select {
  text-align: center;
  padding-top: 110px;
}
.box {
  border-radius: 50px;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}
#select1 {
  width: 180px;
  height: 180px;
  background-color: #0b421a;
  border: 5px solid white;
}
#select2 {
  width: 180px;
  height: 180px;
  background-color: #0b421a;
  border: 5px solid white;
}
#selectText {
  margin-top: 20px;
  font-weight: bold;
  font-size: 23px;
}
#img {
  margin-top: 20px;
}
#back {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 90px;
  animation: move 1.3s infinite ease-in-out alternate;
}
@keyframes move {
  from {
    transform: translatey(8px);
  }
  to {
    transform: translatey(-8px);
  }
}