<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header" class="container">
	<header
		class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		<a href="/"
			class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
			<img src="/assets/img/movie.jpg" class="me-2" width="40" height="32" alt="logo" /> 
			<span class="fs-4">Movie</span>
		</a>

		<ul class="nav nav-pills">
			<li class="nav-item"><a href="/user" class="nav-link active"
				aria-current="page">USER</a></li>
			<li class="nav-item"><a href="/movie" class="nav-link">MOVIE</a></li>
		</ul>
	</header>
</div>
</html>