<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>오류 발생</title>
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous">
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</head>
<body class="bg-light">
    <div class="container text-center my-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card border">
                    <div class="card-body">
                        <h1 class="display-1 text-danger">[[ ${errorMsg ?: '에러가 발생했습니다'} ]]</h1>
                        <a href="/blog/list" class="btn btn-outline-primary" aria-label="메인 페이지로 돌아가기">메인으로 돌아가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
