<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="development">
 	<!-- select 태그가 하나의 메소드라고 생각하자 -->
 	<select id="selectNewsAll" resultType="News">SELECT * FROM news</select>
 </mapper>