<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movie.mapper.UserMapper">
    <!-- 회원 전체 리스트 -->
    <select id="selectAllUser" resultType="com.movie.dto.UserDTO">
        SELECT * FROM users_tbl WHERE is_deleted = 'n'
    </select>
    
    <!-- 회원 추가 -->
    <insert id="insertUser" parameterType="com.movie.dto.UserDTO">
        INSERT INTO users_tbl (name, email) VALUES (#{name}, #{email})
    </insert>
    
    <!-- 회원 삭제 -->
    <update id="deleteUser" parameterType="int">
        UPDATE users_tbl SET is_deleted = 'y' WHERE id = #{id}
    </update>
</mapper>